$black:rgba(0, 0, 0, 0.8);
$black2: rgba(0, 0, 0, 0.2);
$white: #fff;
$white2:#f2f2f2;
$grey: #555355;

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.containerPrincipal {

    @include flex-column();
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, $black, $black), url(public/images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;

    .form-group {
        @include flex-column();
        position: relative;
        z-index: 1;
        background-color: $white;
        max-width: 360px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 .0 5px 5px 0 $black2 $black2;

        input {
            outline: 0;
            background-color: $white2;
            width: 271px;
            height: 42px;
            border: 0;
            margin: 0 0 15px;
            box-sizing: border-box;
            font-size: 14px;
            padding: 10px;
        }

    }

    .boton {

        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        outline: 0;
        background-color: $grey;
        width: 100%;
        border: 0;
        padding: 15px;
        color: $white;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;

        &:hover {
            cursor: pointer;
            background-color: darken($color: $grey, $amount: 8);
        }
    }

}

.cart-notification {
    display: none;
    background-color: crimson;
    width: 20px;
    height: 19px;
    border-radius: 16px;
    font-size: 0.6em;
    text-align: center;
    color: white;
    margin: -10px;
    margin-left: 10px;

}

.cart-notification:hover {
    cursor: pointer;
}


.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}


.submenu:hover #carrito {

    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: rgba(48, 48, 48, 0.712);
    padding: 20px;
    min-height: 400px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

table {
    width: 100%;
    border-bottom: 1px solid #ffffff46; 
}

th {

    color: #f2f2f2;
    text-align: left;
    
}

td{
    color: #f2f2f2;
}

.borrar {
    background-color: rgba(104, 0, 14, 0.747);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


@media screen and (max-width:1080px){

.submenu:hover #carrito{

width: 100%;
}

.bg{

display: none;

}

}



/*.cart-modal{
    border: 1px solid;
    width: 288px;
    height: 201px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top:75px;
    background-color: $white;
    margin-left: -261px;

}  */